body{
    background-image:url('https://steamuserimages-a.akamaihd.net/ugc/543022736890858021/04BE3D54CC9C1209F858E722E15F936BC313ADEE/');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 70%;
    float: right;
}


h1 {
  font: bold 140% 'News Cycle', arial;
  color: #0196E8;
  font-size: 300%
}

.list {
  font: 140% 'News Cycle', arial;
  color: #03517b;
  font-size: 100%
}