body{
    background-image:url('https://steamuserimages-a.akamaihd.net/ugc/543022736890858021/04BE3D54CC9C1209F858E722E15F936BC313ADEE/');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 70%;
    float: right;
}